.property-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-auto-rows: auto; /* Rows adjust automatically */
    gap: 20px; /* Spacing between grid items */
    padding: 20px;
    justify-content: center;
    

}

.property {
    background: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .property:hover {
        transform: scale(1.05);
    }

.property-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.property-image {
    width: 20vw; /* Adjusted for better visibility */
    height: 40vh;
    border-radius: 5px;
    object-fit: cover;
}


.view-more-btn, .delete-btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-more-btn {
    background-color: #007bff;
    color: white;
}

.delete-btn {
    background-color: #ff4d4d;
    color: white;
}

.view-more-btn:hover {
    background-color: #0056b3;
    color:white;
}

.delete-btn:hover {
    background-color: #cc0000;
}
